.main {
  display: flex;
  flex-direction: column;
}

.headbg {
  background-color: black;
  height: 340px;
}

.header {
  position: relative;
  top: -340px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 1000px;
  height: 60px;
  margin: auto;
}

.logo {
  position: relative;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 2px;
}

.li {
  margin-left: 20px;
  color: #ADAFB2;
}

.content {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: -340px;
  width: 1000px;
  margin: auto;
  margin-bottom: -340px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.copytext {
  padding-top: 50px;
  padding-bottom: 0;

  .h1 {
    line-height: 160%;
    color: white;
  }
}

.title {
  display: flex;
  height: 40px;
  align-items: center; 
  font-size: x-large;
  font-weight: 700;
  margin: 44px 0 10px 0;
}

.titleIcon {
  margin-right: 10px;
}

.comment {
  font-size: x-large;
  font-weight: 300;
  line-height: 160%;
}

.imgContainer {
  display: flex;
  justify-self: right;
  flex-direction: column;
  align-items: center;
}
